
body{
 margin: 0 ;   
}
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-container {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
}


.login-title {
  font-weight: 600 !important;
  color: #333 !important;
  margin-bottom: 20px !important;
}


.login-input .MuiInputBase-root {
  border-radius: 8px;
}


.login-button {
  background-color: #2193b0 !important;
  color: #fff !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  padding: 10px 0 !important;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #17627a !important;
  transform: scale(1.03);
}
