.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links button {
  margin-left: 10px;
  text-transform: none;
  font-weight: 500;
}
